.header {
    background-color: #FFF;
    padding: 10px 0;

    .header__container {
        max-width: 90%;
        margin: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            color: #FCCD07;
            font-weight: bold;
            font-size: 48px;
        }

    }

   
}