.footer {
  background-color: #414141;
  padding: 20px;
}

.footer__links {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 20px;

}

.footer__links a {
  color: #fff;
  display: flex;
  margin-bottom: 10px;
}


.copyright {
  color: #fff;
  text-align: center;
}