/* TEMAS */
.cards__carousel___image {
  background-size: cover;
  background-position: center;
}

.cards__carousel___image--music {
  background-image: url('/assets/images/musica.jpg');
}

.cards__carousel___image--movie {
  background-image: url('/assets/images/cinema.jpg');
}

.cards__carousel___image--knowledge {
  background-image: url('/assets/images/conhecimentos-gerais.jpg');
}

/* RANKING */
.cards__carousel___image--matias {
  background-image: url('/assets/images/matias.jpg');
}

.cards__carousel___image--joana {
  background-image: url('/assets/images/joana.jpg');
}

.cards__carousel___image--pedro {
  background-image: url('/assets/images/pedro.jpg');
}
