/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* HEADER */
.header {
  background-color: #fff;
  width: 100%;
}

.header__container {
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* LOGO */
.logo {
  color: #fccd07;
  font-size: 56px;
  font-weight: bold;
}

/* NAVIGATION */
.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navigation__item {
  background-color: #fccd07;
  border-radius: 4px;
  font-size: 18px;
  padding: 20px;
}

.navigation__link {
  color: #000;
  text-decoration: none;
}

/* CONTAINER */
.container {
  max-width: 90%;
  margin: 40px auto;
}

/* INTRODUCTION */
.introduction {
  width: 100%;
}

.introduction__content___title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.introduction__content___paragraph {
  font-size: 18px;
  line-height: 1.2;
}

.introduction__btn {
  background-color: #fccd07;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  width: 100%;
  padding: 20px;
}

/* CARDS */

/* CARDS THEMES */
/* CARDS RANKING */

.cards {
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-wrap: wrap;
}

.cards__carousel___title,
.register__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cards__carousel___list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cards__carousel___item {
  background-color: #fff;
  border-radius: 4px;
  margin: auto;
  width: 100%;
}

.cards__carousel___image {
  border-radius: 4px 4px 0 0;
  height: 256px;
  width: 100%;
}

.cards__carousel___description {
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards__carousel___name,
.cards__carousel___position {
  font-size: 18px;
}

/* FOOTER */

.footer {
  background-color: #414141;
  padding: 20px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__links {
  padding: 20px;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.copyright {
  color: #fff;
  text-align: center;
}

/* PAGINA DE CADASTRO */

.register {
  padding: 20px 0;
}

.register__header {
  padding: 40px 0;
  max-width: 500px;
}

.register__header h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.register__header p {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.register__input {
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  height: 38px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.register__btn {
  background-color: #fccd07;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  height: 38px;
  width: 100%;
}

/* PAGINA SOBRE */

.about {
  padding: 20px 0;
}

.about__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about__paragraph {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
}