/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-primary:#fccd07;
  --color-black: #414141;
  --color-white: #fffff4;
  --color-blue: #1919ff;
  --color-green: #00b700;
  --color-green--hover: #176f17;
}

html,
body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.header {
  padding: 20px 0;
}

.header__container {
  display: flex;
  gap: 40px;
  max-width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--color-primary);
  font-size: 68px;
  font-weight: bold;
}

.navigation__list {
  display: flex;
  gap: 20px;
}

.navigation__item {
  font-size: 18px;
}

.navigation__link {
  border-radius: 8px;
  color: var(--color-black);
  font-weight: 500;
  padding: 8px 4px;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.navigation__link:hover {
  background-color: var(--color-primary);
  color: var(--color-blue);
}

/* CONTAINER */
.container {
  max-width: 90%;
  margin: auto;
}

/* INTRODUCTION */
.introduction {
  align-items: center;
 
  display: flex;
  height: 440px;
  width: 100%;
}


.introduction__container {
  max-width: 78%;
  padding: 20px 0;
}


.introduction__content___title {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 10px;
}

.introduction__content___paragraph {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.introduction__btn___play {
  background-color: var(--color-green);
  border-radius: 10px;
  color: var(--color-white);
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  text-decoration:none;
  text-transform: uppercase;
  width: 240px;
}

.introduction__btn___play:hover {
  background-color: var(--color-green--hover);
}

.cards {
  margin: 40px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cards__carousel___title {
  color: var(--color-primary);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}


.cards__carousel___list {
  display: flex;
  gap: 14px;
}

.cards__carousel___item {
  background-color: var(--color-white);
  color: var(--color-black);
  height: 300px;
  border-radius: 4px;
  width: 30%;
}

.cards__carousel___image {
  border-radius: 4px 4px 0 0;
  height: 230px;
  width: 100%;
}

.cards__carousel___description {
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards__carousel___name,
.cards__carousel___position {
  font-size: 18px;
}

/* FOOTER */

.footer {
  background-color: var(--color-black);
  padding: 20px 0;
}

.footer__container {
  padding: 10px 0;
  max-width: 90%;
  margin: auto;
}

.footer__link {
  color: var(--color-white);
  font-size: 18px;
  transition: all .2s ease-in-out;
}

.footer__link:hover {
 font-weight: bold;
}

.copyright {
  color: var(--color-white);
  font-size: 14px;
  text-align: center;
}


/* PAGINA DE CADASTRO */

.register,
.login__form {
  padding: 20px 0;
}

.register__header,
.login__header {
  padding: 40px 0;
  max-width: 500px;
}

.register__header h2,
.login__header h2,
.themes__header h2,
.ranking__header h2,
.myAccount__header___content h2{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.register__header p,
.myAccount__header___content p {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.register__input,
.login__input {
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  height: 48px;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.register__btn,
.login__btn,
.btn__play,
.btn__reset {
  background-color: #fccd07;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  height: 58px;
  width: 100%;
}

.btn__reset {
  margin-bottom: 20px;
}

/* PAGINA SOBRE */

.about {
  padding: 20px 0;
}

.about__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about__paragraph {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
}

/* PAGINA DE TEMAS */


.themes__list___item {
  border-bottom: 1px solid #dddd;
  padding: 10px 0;
  font-size: 18px;
  margin-bottom: 10px;
}

/* PAGINA DE MINHA CONTA */
.myAccount__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px 0;
}

.myAccount__imageProfile {
  background-image: url('/assets/images/matias.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  height: 300px;
  max-width: 300px;
}

.myAccount__scoreInformations {
  padding: 20px 0;
}
.myAccount__scoreInformations___position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myAccount__scoreInformations p {
  margin-bottom: 20px;
}


.btn__play a {
  color: #000;
  text-decoration: none;
}


/* PAGINA DE GAME */
.container__options h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.container__options select {
  box-sizing: border-box;
  font-size: 16px;
  height: 38px;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.question__description {
  font-size: 24px;
  line-height: 1.2;
  padding: 10px 0;
}

.question__answer {
  background-color: #fccd07;
  border: none;
  border-radius: 4px;
  font-size: 22px;
  height: 58px;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gameOver {
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameOver h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.gameOver p {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;

}