:root {
  --color-primary:#fccd07;
  --color-black: #414141;
  --color-white: #fffff4;
  --color-blue: #1919ff;
}


@media screen and (max-width: 480px) {
  .header {
    padding: 20px 0 40px 0;
    max-width: 90%;
    margin: auto;
    text-align: center;
  }

  .header__container {
   flex-direction: column;
  }

  .navigation__list {
    flex-direction: column;
    align-items: center;
  }

  .navigation__item {
    border-radius: 10px;
    font-size: 20px;
    background: var(--color-primary);
    padding: 10px;
  }

  .introduction {
    height: auto;
    text-align: center;
  }

  .introduction__container {
    max-width: 90%;
    padding: 10px 0;
  }

  .introduction__content___title {
    font-size: 52px;
    margin-bottom: 20px;
  }

  .cards__carousel___list {
    flex-direction: column;
  }

  .cards__carousel___item {
    width: 100%;
  }

  .footer {
    height: 120px;
  }
  
}