/* HOME */
@media screen and (min-width: 768px) {

  /* HEADER */
  .header__container {
    margin: auto;
    width: 80%;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /* LOGO */

  /* NAVIGATION */
  .navigation__list {
    flex-direction: row;
    gap: 10px;
  }

  .navigation__item {
    background: none;
    border-radius: 0;
    padding: 0;
  }

  .navigation__link {
    text-decoration: underline;
  }

  .navigation__link:hover {
    font-weight: 600;
  }

  /* CONTAINER */
  .container {
    max-width: 80%;
  }

  /* INTRODUCTION */


  .introduction__btn {
    cursor: pointer;
    font-size: 20px;
    padding: 18px;
  }

  /* CARDS */

  /* CARDS THEMES */
  /* CARDS RANKING */

  .cards {
    flex-wrap: nowrap;
  }

  .cards__carousel___list {
    flex-wrap: nowrap;
  }
}

/* PÁGINA DE CADASTRO/LOGIN */

@media screen and (min-width: 768px) {
  .login,
  .register {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .register__form,
  .login__form {
    max-width: 600px;
  }


  .register__input,
  .login__input {
    height: 42px;
    margin-bottom: 18px;
    padding: 5px;
    width: 100%;
  }
}

/* PÁGINA SOBRE */

@media screen and (min-width: 768px) {
    .about {
      max-width: 600px;
      padding: 30px 0;
    }

    .about__paragraph {
      line-height: 1.5;
    }
}

/* PÁGINA DE TEMAS */

@media screen and (min-width: 768px) {
  .themes {
    height: 100vh;
  }
}

/* PÁGINA DE RANKING */

@media screen and (min-width: 768px) {
  .ranking {
    height: 100vh;
  }
}

/* PÁGINA DE MINHA CONTA */

@media screen and (min-width: 768px) {
  .myAccount {
    max-width: 400px;
    height: 100vh;
    padding: 20px 0;
  }
}

/* PÁGINA DE GAME */

@media screen and (min-width: 768px) {
  #options {
    max-width: 400px;
  }

  #questions__container {
    max-width: 700px;
  }

  .question {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
  }

  .question__answer {
    background-color: #fff;
  }

  .question__answer:hover {
    background-color: #fccd07;
    cursor: pointer;
  }

  .gameOver {
    height: 100vh;
  }

  .btn__reset {
    max-width: 50%;
  }

}