.footer {
  background-color: $color-gray;
  width: 100%;

  .footer__container {
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 12px;

    .links {
      display: flex;
      flex-direction: column;

      a {
        color: $color-white;
        margin-bottom: 10px;
      }
    }
  }

  .copyright {
    padding: 10px;
    text-align: center;
    color: $color-white;
  }
}