.header {
  width: 100%;

  .header__container {
    max-width: 80%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .logo {
    @include size(48);
    font-weight: bold;
    color: $color-primary
  }

  .header__navigation {


    .header__navigation___menu {
      display: flex;
      align-items: center;
      gap: 12px;

      .header__navigation___item {
        &:last-child {
          background-color: $color-primary;
          padding: 8px;
          @include border-radius;

          &:hover {
            background: none;
            border: 1px solid $color-primary;
          }
        }

        .header__navigation___link {
          color: $color-black;
          text-decoration: none;
        }
      }
    }

  }


}